.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 80px;
  gap: 40px;

  width: 410px;
  height: 557.66px;
  left: calc(50% - 410px / 2);
  top: calc(50% - 557.66px / 2);
  background: var(--color-blue-transparent);
  backdrop-filter: blur(8.89323px);
  border-radius: 28.4583px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: transform 0.3s ease;
}

.Login.hide {
  transform: scale(0);
}

.Login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.Login-form .error-message {
  padding: 10px;
  font-size: 1.2em;
  background-color: var(--color-red-transparent);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease-in-out;
  opacity: 0; /* Hidden by default */
  max-height: 0;
  transform: translateY(-20px); /* Positioned slightly above */
  transition:
    max-height 0.2s ease,
    opacity 0.5s ease,
    transform 0.5s ease;
  margin-left: -10px;
  margin-right: -10px;
  width: calc(100% + 20px);
}

.Login-form.error .error-message {
  opacity: 1; /* Fully visible */
  transform: translateY(0); /* Moves to its normal position */
  animation: bounce 0.6s ease-in-out;
  max-height: 50px;
}

/* Bounce animation for attention */
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.Login-form section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.Login-form input[type="text"],
.Login-form input[type="password"] {
  background: #ffffff;
  border: 0.711458px solid #bcbec0;
  border-radius: 5px;
  width: 250px;
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  gap: 10px;
}

.Login-form input:focus {
  outline: none;
}

.Login-form input::placeholder {
  color: var(--color-light-gray);
}

.Login-form button {
  width: 250px;
  height: 40px;
  background-color: var(--color-blue-dark2);
  color: var(--color-white);
  font-style: normal;
  font-family: "Gilroy-Bold";
  font-weight: 400;
  font-size: 1rem;
  line-height: 20px;
  border-radius: 7.11458px;
  border-width: 0;
  margin-top: 50px;
  transition: background-color 0.3s ease;
}

.Login-form button:hover {
  background-color: var(--color-blue-dark);
}

.Login-form button:focus {
  background-color: var(--color-blue-dark);
  outline: none;
}

.Login-form.error button {
  background-color: var(--color-red-transparent);
}
