div.Polls {
  display: grid;
  grid-template-rows: auto auto;
  gap: 10px;
}

div.Polls a {
  text-decoration: none;
}

div.Polls .top-row {
  display: flex;
  flex-wrap: wrap;
  align-content: start;
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}

div.Polls .top-row .top-item {
  flex: 1 1 30px;
  min-width: 200px;
  max-width: 100%;
  color: white;
  text-align: center;
  padding: 10px 0;
}

div.Polls .top-row .top-item.active {
  background-color: rgba(255, 255, 255, 0.3);
}

div.Polls .bottom-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  padding: 10px;
  background-color: lightgray;
}

div.Polls .bottom-grid .grid-item {
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  border-radius: 4px;
}
